<%- layout("/admin/layouts/layout") %> 
<div class="container-fluid px-3">
  <div class="row p-1">
    <div class="col-md-8 sales-report mx-1">
      <h2>Nothing to report yet :/</h2>
    </div>
    <div class="col-md todo-container mx-1">
      <h3 class="todo-header">
        Todo List:
        <div>
          <button id="add-todo">+</button>
        </div>
      </h3>
      
      <!-- TODO LIST IS LIMITED UP TO EIGHTEEN (18) CHARACTERS -->
        <ul class="todo-list">
          <li>
            <div class="todo-item">
              Hello wrold!!
              <div class="todo-controls">
                <div id="check">
                  <img src="/img/008-check.png" alt="" srcset="" width="25">
                </div>
                <div id="edit">
                  <img src="/img/062-pencil.png" alt="" srcset="" width="25">
                </div>
                <div id="delete">
                  <img src="/img/076-remove.png" alt="" srcset="" width="25">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="todo-item">
              Sample Todo 2
              <div class="todo-controls">
                <div id="check">
                  <img src="/img/008-check.png" alt="" srcset="" width="25">
                </div>
                <div id="edit">
                  <img src="/img/062-pencil.png" alt="" srcset="" width="25">
                </div>
                <div id="delete">
                  <img src="/img/076-remove.png" alt="" srcset="" width="25">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="todo-item">
              Sample Todo 3
              <div class="todo-controls">
                <div id="check">
                  <img src="/img/008-check.png" alt="" srcset="" width="25">
                </div>
                <div id="edit">
                  <img src="/img/062-pencil.png" alt="" srcset="" width="25">
                </div>
                <div id="delete">
                  <img src="/img/076-remove.png" alt="" srcset="" width="25">
                </div>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>