<%- layout("./client/layouts/layout") %>

<div class="row">
  <div class="col-md-4">
    <h1>Dragonessa</h1>
    <p>Hi! This is Dragonessa Handmade, our products are handmade by yours truly. Please allow imperfection, remember the word handmade. All items are made with passion, thank you for your support. Keep updated and follow us! 
      Facebook/Instagram: @dragonessahandmade</p>  
  </div>
</div>