<%- layout("./client/layouts/layout") %>

<div class="container py-5">
  <div class="row">
    <div class="col-md-6 offset-3">
      <h1>Sign Up</h1>
      <form class="validated-form" action="/register" method="POST" novalidate>
        <div class="mb-3">
          <div class="row">
            <div class="col-6">
              <label for="username">First Name</label>
              <input type="text" name="user[fname]" id="fname" class="form-control" required>
              <div class="invalid-feedback">
                First name is required
              </div>
              
            </div>
            <div class="col-6">
              <label for="username">Last Name</label>
              <input type="text" name="user[lname]" id="lname" class="form-control" required>
              <div class="invalid-feedback">
                Last name is required
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="username">Username</label>
          <input type="text" name="user[username]" id="username" class="form-control" required>
          <div class="invalid-feedback">
            Username is required
          </div>
        </div>
        
        <div class="mb-3">
          <label for="email">Email</label>
          <input type="text" name="user[email]" id="email" class="form-control" required>
          <div class="invalid-feedback">
            Email is required
          </div>
        </div>
        
        <div class="mb-3">
          <label for="password">Password</label>
          <input type="password" name="user[password]" id="password" class="form-control" required>
          <div class="invalid-feedback">
            Password is required
          </div>
        </div>
        
        <button class="btn bg-cust">SIGN UP</button>
      </form>
    </div>
  </div>
</div>
