.sidebar {
   background-color: white;
   padding-top: 1rem;
   box-shadow: 0px .1rem 10px rgba(0, 0, 0, 0.034);
}

.bg-light {
   background-color: white !important;
}

.content {
   background-color: #f1f1f1; 
   padding-top: 1rem;
}

a {
   text-decoration: none;
   color: black;
}

a:hover {
   color: #ecaae8;
}

.active {
   color: #ecaae8;
}

.sales-report {
   background: #9b9b9b;
   color: #f3f3f3;
   text-align: center;
   padding: 8em 0;
   border-radius: 25px;
}

/* %&%&%&%&%&%&%&%& TODO PROPERTIES %&%&%&%&%&%&%&%& */

.todo-list {
   list-style-type: none;
   padding: 0;
}

.todo-item {
   font-size: larger;
   background-color: #e4caca;
   border-radius: 15px;
   padding: .8em;
   margin: 1em 0;
   display: flex;
   justify-content: space-between;
}

.todo-container {
   background-color: #dbdbdb;
   border-radius: 25px;
   padding: .825em;
}

.todo-controls {
   display:flex;
   opacity: 0;
   transition: all 250ms ease-in-out;
   -webkit-transition: all 250ms ease-in-out;
}
.todo-controls div {
   margin: 0 5px;
}

.todo-item:hover .todo-controls {
   opacity: 1
}

.todo-header {
   display: flex;
   justify-content: space-between;
}

#add-todo {
   line-height: .955em;
   border-radius: 1em;
}

#add-product-form {
   margin: 1em 5em;
   background: white;
   padding: 3rem;
   border-radius: 15px;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.034);
}

.desc {
   color: #9b9b9b;
   font-size: smaller;
}

.product-table-header {
   padding: 1em;
}

.product-table {
   border: 1px solid rgb(228, 228, 228);
   border-radius: 10px;
   margin: 1em auto;
   padding: .5rem 1.5rem;
   background-color: rgb(253, 253, 253);
}

.product-item {
   padding: 1rem 3px;
   border-radius: 1px;
   border-bottom: 1px solid rgb(231, 231, 231);
   background-color: white;
}

.product-item:hover {
   background-color: rgb(231, 231, 231);
   transition: all 200ms ease-out;
   -webkit-transition: all 200ms ease-out;
}

.controls {
   opacity: 0;
}

.product-item:hover .controls {
   opacity: 1;
}

footer {
   background-color: rgb(104, 104, 104);
   color: snow;
}

.btn-cust {
   background-color: #ecaae8;
   color: snow;
}

.btn-cust:hover {
   background-color: #ecaae6e5;
   color: rgba(255, 255, 255, 0.829);
}

.image-prev-container {
   margin: 1em 0;
   background-color: #f5f5f5;
   width: 100%;
}

#image-prev-placeholder {
   margin: 0 auto;
   padding: 3rem
}