<nav aria-label="breadcrumb" class="breadcrumb-container">
   <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
     <li class="breadcrumb-item"><a href="#">Library</a></li>
     <li class="breadcrumb-item active" aria-current="page">Data</li>
   </ol>
 </nav>